body {
    background-image: url(../img/moon.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    overflow-x: hidden;
    background-attachment: fixed;
}

.box{
    height: 100px;
    background-color: black;
}

.header{
    max-width: 500px;
}

.carPictures{
    height: 500px;
}

a {
    color:red
}

.navbar{
    background-color: black;
}

th,td{color:yellowgreen}
