@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap'); // fonts

// Halloween color palette

$clr-lightgreen: #97c03d;
$clr-darkgreen: #037144;
$clr-darkpurple: #432364;
$clr-lightpurple:#c97eff;
$clr-gray: #5f5b56;
$clr-orange: #ffb400;

// Necessary styles
*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(7,8,10);
    font-family: 'Yeon Sung', cursive;
}

a {
    text-decoration: none;
    color: $clr-lightpurple;

    &:hover {
        color: #b44aff;
    }
}
header {
    // Navbar
    background-color: rgba(0, 0, 0, 0.65);  
}

main {
    height: 1500px;
    
    // page background styles
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;   
}
main h1 {
    color: $clr-lightgreen;
}
main h2 {
    color: $clr-darkgreen;
}
main h3 {
    color: $clr-darkpurple;
    font-weight: bold;
}
main hr, main hr:not([size]) {
    margin-block: 5rem;
    height: 2px;
    color: white;
}

// SpiderGame

#spiderAppContainer {
    height: 700px;
    width: 100%;
}