@import "~bootstrap/scss/bootstrap.scss";
/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Griffy&family=Yeon+Sung&display=swap');

/*===== SASS VARIABLES =====*/

    $header-height: 3rem;
    /*========== Color Palette ==========*/
    $clr-lightgreen: #97c03d;
    $clr-darkgreen: #5A8249;
    $clr-darkpurple: #432364;
    $clr-lightpurple:#c97eff;
    $clr-gray: #2c2a27;
    $clr-lightgray: #ffffffb6;
    $clr-orange: #ffb400;
    
    /*========== Fonts styles ==========*/
    $body-font: 'Yeon Sung', cursive;
    $biggest-font-size: 2.25rem;
    $h1-font-size: 1.5rem;
    $h2-font-size: 1.3rem;
    $h3-font-size: 1.2rem;
    $normal-font-size: 1.1rem;
    $small-font-size: .813rem;
    $smallest-font-size: .75rem;

    /*========== Fonts weight ==========*/
    $medium-bold: 500;
    $semi-bold: 600;

    /*========== Margins bottom ==========*/
    $mb-1: .5rem;
    $mb-2: 1rem;
    $mb-3: 1.5rem;
    $mb-4: 2rem;
    $mb-5: 2.5rem;
    $mb-6: 3rem;

    /*========== z index ==========*/
    $z-tooltip: 10;
    $z-fixed: 100;

@media screen and (min-width: 768px) {
    $biggest-font-size: 4rem;
    $h1-font-size: 2.25rem;
    $h2-font-size: 1.5rem;
    $h3-font-size: 1.25rem;
    $normal-font-size: 1rem;
    $small-font-size: .875rem;
    $smallest-font-size: .813rem;
}
/*===== GENERAL =====*/
*, ::after, ::before {
    box-sizing: border-box;
    // border: 1px red;
    // border-style: solid;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $body-font;
    font-size: $normal-font-size;
    background-color: $clr-darkgreen;
    color: white;
    line-height: 1.6;
}

h1,h2,h3,p,ul {
    margin: 0;
}

a, a.nav-link {
    text-decoration: none;
    color: $clr-lightpurple;
     &:hover, &:focus {
         color: $clr-darkpurple;
     }
}

button.btn, button.navbar-toggler {
    &, &:active, &:focus {
        box-shadow: none;
    }
}

.container, .container-fluid {
    padding: 0;
}

/*===== SCROLL TOP BUTTON =====*/
#scroll-top {
    position: fixed;
    bottom: 1.2rem;
    right: 1.2rem;
    background-color: rgba(255, 255, 255, 0.466);
    color: inherit;
    font-size: 1.5rem;
    padding: 0.5rem;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.3s;
    & > * {
        transition: 0.3s;
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.712);
        & > * {
            transform: translateY(-3px);
            color: $clr-gray;
        }
    }
}

/*===== VARIABLES DARK THEME =====*/


/*===== BUTTON DARK/LIGHT =====*/


/*===== CLASS CSS =====*/
.section {
    margin: 4rem 0 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/*===== LAYOUT =====*/
footer {
    color: $clr-lightgray;
}

/*===== NAV =====*/
.navbar {
    background-color: rgba(0, 0, 0, 0.5);  
}

button.navbar-toggler {
    color: $clr-lightpurple;
}
#theme-button, button {
    background: none;
    border: none;
    color: inherit;
}

/*===== CAROUSEL =====*/
.carousel {
    margin: 4rem 0 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/*===== GAMES =====*/
/*========== Tic Tac Toe ==========*/
#ticTacToe {
    background-color: #4f0008;
}
h1.tictactoeTitle {
    color: #ed6c2c;
    font-size: 4rem;
}
img.tictactoeImg {
    width: 50px;
}
@media screen and (max-width: 575px){
    h1.tictactoeTitle {
        font-size: 2.8rem;
    }
    img.tictactoeImg {
        width: 30px;
    }
}
img.token {
    object-fit: contain;
}
.box {
    border: 2px solid #c7ecb99c;
    border-radius: 10px;
    cursor: pointer;
}
@media screen and (min-width: 992px){
    .box {
        height: 152px;
    }
    .board {
        width: 60%;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .board {
        width: 75%;
    }
}
@media screen and (max-width: 991px){
    .box {
        height: 140px;
    }
    .board {
        width: 90%;
    }
}
/*========== Spiders ==========*/
#spidersGame {
    height: 80vh;
}

/*===== SMOKY TEXT =====*/
#smoky-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 13vw;
    font-family: 'Griffy', cursive;
    color: white;

    z-index: 1021;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.521);
    overflow: hidden;
    color: transparent;
    backface-visibility: hidden;
}
#smoky-wrapper span {
    display: inline-block;
    text-shadow: 2px 7px 5px rgba(115, 0, 0, 0.67), 
    0px -4px 10px rgba(0, 0, 0, 0.739);
    
    animation: smoky 4.8s 2s both;
}
#smoky-wrapper span:nth-child(even){
  animation-name: smoky-mirror;
}
// smoke animation
@keyframes smoky {
    60% {
      text-shadow: 0 0 40px whitesmoke;
    }
    to {
      transform:
        translate3d(15rem,-8rem,0)
        rotate(-40deg)
        skewX(70deg)
        scale(1.5);
      text-shadow: 0 0 20px whitesmoke;
      opacity: 0;
    }
}
@keyframes smoky-mirror {
    60% {
      text-shadow: 0 0 40px whitesmoke; }
    to {
      transform:
        translate3d(18rem,-8rem,0)
        rotate(-40deg) 
        skewX(-70deg)
        scale(2);
       text-shadow: 0 0 20px whitesmoke;
      opacity: 0;
    }
}
@for $item from 1 through 11 {
    #smoky-wrapper span:nth-of-type(#{$item}){ 
      animation-delay: #{(3 + ($item/10))}s; 
    }
}

@keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

